.locations-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  margin: 3.6rem 0 16.4rem 0;
  row-gap: 12.8rem;
}

.kc-location-1 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.kc-location-1:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.location-img {
  width: 100%;
  object-fit: cover;
}

.kc-img-adjust {
  max-height: 768px;
}

.location-info {
  margin: 3.6rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.location-text-sections {
  margin: 4.8rem 0;
  line-height: 1.2rem;
}

.location-text {
  justify-self: center;
  align-self: center;
}

.fa-regular {
  font-weight: bold;
  font-size: 2.4rem;
}

.hours-header {
  text-align: center;
  margin: 3.6rem;
}

.location-hours-text {
  text-align: center;
}

.form-popout {
  display: none;
}

.event-hosting-section {
  align-self: center;
}

.event-hosting-header {
  margin: 3.2rem 0;
}

.event-hosting-text {
  font-size: 2rem;
}

.event-host-btn,
.form-submit-btn {
  margin: 1.2rem 2rem;
  font-size: 2rem;
  padding: 1.2rem;
  width: 19rem;
}

.event-img {
  border-radius: 1.2rem;
}

.heading-form {
  margin: 4.8rem;
}

.form-label,
.form-control {
  margin: 0.8rem;
  font-size: 1.8rem;
}

.form-group {
  margin: 3rem auto;
  width: 64rem;
}

#full-name,
#email,
#location {
  width: 80%;
}

#business-name,
#phone-number {
  width: 70%;
}

#input-street {
  width: 82%;
}

#input-city {
  width: 48%;
}

#input-state {
  width: 14%;
}

#input-zip {
  width: 25%;
}

.form-submit-btn {
  margin: 4.8rem 0;
}

.section-map {
  margin: 3.6rem;
}

#map {
  height: 36.4rem;
  border-radius: 1.2rem;
}
