html {
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.carousel-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-img {
  position: absolute;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  text-align: center;
}

.material-symbols-outlined:active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  text-align: center;
}

.btn-left,
.btn-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 8.6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.btn-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.btn-left:hover,
.btn-right:hover {
  color: rgba(255, 255, 255, 0.5);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots-dot {
  border: none;
  background-color: #ffffff;
  opacity: 0.7;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.75rem;
  transition: all 0.5s;
}

.dots-dot--active {
  opacity: 1;
}
