/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
H1: 800

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys

--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #fdfcfb;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  width: 120rem;
}

h1 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  margin: 4.8rem auto 2.4rem auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 3.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  position: relative;
  padding: 0;
  justify-content: space-around;
  font-size: 2.4rem;
  text-align: center;
  margin: 4.8rem 0;
}

.nav-item {
  width: 15rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #343a40;
}

.nav-link:hover,
.nav-link:active {
  color: #aa0000;
}

.location-links {
  display: none;
  /* display: flex; */
  position: absolute;
  flex-direction: column;
  background-color: #f1f3f5;
  min-width: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  top: 100%;
  margin: 1.2rem;
  padding: 1.2rem 2rem;
  line-height: 1.4;
  border-radius: 0.8rem;
}

.nav-link-loc:hover .location-links {
  display: flex;
}

.carousel-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: block;
  max-width: 100%;
  height: auto;
  transition: ease-in-out 1s;
}

.hero-img {
  position: absolute;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(80%);
}

.hero-text-section {
  position: absolute;
  top: 45rem;
  left: 12.8rem;
  color: #fefdfc;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.hero-text {
  padding-right: 45rem;
  text-shadow: 0 0 0.3rem black;
}

.hero-btn {
  color: #fefdfc;
  background-color: #aa0000;
  border: none;
  width: 28rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.hero-btn:hover {
  background-color: #950000;
  transition: 0.4s;
  cursor: pointer;
}

.hero-btn-loc {
  width: auto;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  text-align: center;
}

.material-symbols-outlined:active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  text-align: center;
}

.btn-left,
.btn-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 8.6rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.btn-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.btn-left:hover,
.btn-right:hover {
  color: rgba(255, 255, 255, 0.5);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots-dot {
  border: none;
  background-color: #ffffff;
  opacity: 0.7;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.75rem;
  transition: all 0.5s;
}

.dots-dot--active {
  opacity: 1;
}

.section-content {
  margin: 16.4rem 0;
}

.menu-items {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  max-width: 150rem;
}

.product-img {
  width: 0;
  flex: 1 1 0px;
  object-fit: cover;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.img-position {
  object-position: 30% 50%;
}

.flex-break-row {
  flex-basis: 100%;
  height: 0;
}

.barista-picks {
  display: flex;
  gap: 3.2rem;
}

.barista-picks-div {
  flex: 1;
  display: grid;
  grid-template-columns: 7.2rem auto;
  gap: 0.8rem;
  border-radius: 1.2rem;
  padding: 1.2rem 0.4rem 1.2rem 0.8rem;
  margin-top: 1.2rem;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.barista-img {
  border-radius: 50%;
  height: 6.4rem;
  width: 6.4rem;
  object-fit: cover;
}

.fem-bar-adj {
  object-position: 80% 50%;
}

.barista-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #495057;
}

.rewards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16.4rem 0;
}

.rewards-content {
  align-self: center;
  justify-self: center;
}

.header-content-rewards {
  margin: 2.4rem 0;
}

.rewards-img {
  width: 100%;
  border-radius: 1.2rem;
}

.social {
  max-width: 140rem;
}

.social-grid {
  display: grid;
  grid-row: 1;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1.8rem;
}

.fake-link:link,
.fake-link:visited {
  text-decoration: none;
}

.social-img {
  transition: 0.5s ease;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
}

.insta-transition {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  font-size: 3.6rem;
  transform: translate(325%, -750%);
  color: #aa0000;
}

.social-img-container:hover .social-img {
  opacity: 0.3;
}

.social-img-container:hover .insta-transition {
  opacity: 1;
}

.social-tag {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin: 6.4rem 0;
}

.social-icon:link,
.social-icon:visited {
  text-decoration: none;
  color: #343a40;
  padding: 0.8rem;
}

.social-icon-fb:hover,
.social-icon-fb:active {
  color: #4267b2;
}

.social-icon-twtr:hover,
.social-icon-twtr:active {
  color: #26a7de;
}

.social-icon-insta:hover,
.social-icon-insta:active {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-footer {
  width: 100%;
  background-color: #f1f3f5;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  max-width: 120rem;
}

.footer-logo-container {
  align-self: center;
  padding-bottom: 1.8rem;
}

.footer-logo {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
  margin: 1.2rem;
}

.footer-logo-copyright {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

.footer-nav-links {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

.footer-nav-links-rt-algn {
  justify-self: end;
}

.nav-item-footer {
  padding-bottom: 2.4rem;
}
